.pipes-button {
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background: #39a1e7;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: inline-block;

    &:hover {
        background: darken(#39a1e7, 5%);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

p {
    padding: 5px;
}
